$mainBlackColor: #131A22;
$mainGreenColor: #37475A;
$mainBackColor: #FFFDF7;
$mainOrangeColor: #f26522;
body {

  header {
    position: relative;

    .img {
      background: $mainGreenColor;
      opacity: 0.1;
      border-radius: 0 0 0 300px;
      width: 541px;
      height: 455px;
      position: absolute;
      top: 0;
      right: 0;
    }

    .container {
      z-index: 1;
      opacity: 1 !important;

      .navbar {

        .navbar-brand {
        }

        .navbar-collapse {
          margin-left: 132px;

          .navbar-nav {
            float: right;

            .nav-item {
              margin: 0 25px;
              transition: 3s;

              .nav-link {
                font-family: Lato, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #131A22;
                padding: 15px 0;
              }
            }

            .nav-item:hover {
              border-bottom: 1px solid $mainOrangeColor;
            }

            .active {
              border-bottom: 1px solid $mainOrangeColor;
            }

            .dropdown {
              .nav-link {
                border: 1px solid #cfcfcf;
                box-sizing: border-box;
                border-radius: 100px;
                padding: 4px 12px;
                margin-top: 11px;
              }
            }
          }
        }
      }

      .section-part {
        display: flex;
        justify-content: space-between;

        .card {
          width: 60%;
          background-color: transparent;
          border: none;
          padding-top: 149px;

          .info {
            background-color: transparent;
            border: none;
            font-family: Lato, sans-serif;
            font-style: normal;
            font-weight: lighter;
            font-size: 43px;
            line-height: 53px;
            color: $mainBlackColor;

            .buyurtma {
              font-weight: 900;
            }
          }

          .card-body {
            background-color: transparent;
            border: none;
            padding-top: 16px;

            button {
              background: $mainOrangeColor;
              border-radius: 100px;
              border: none;
              font-family: Lato, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 24px;
              padding: 11px 26px;
            }
          }

          .card-footer {
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: flex-start;

            .card {
              position: relative;
              display: inline-block;

              .phone-svg {
                position: absolute;
              }

              .card-header {
                background-color: transparent;
                border: none;
                font-family: Lato, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 13px !important;
                line-height: 16px;
                color: $mainBlackColor;
                padding-top: 0;
                padding-left: 28px;
              }

              .card-body {
                font-family: Lato, sans-serif;
                font-style: normal;
                font-weight: 900;
                font-size: 31px;
                line-height: 16px;
                color: $mainBlackColor;
                padding-top: 0;
                padding-left: 28px;
              }

            }
          }
        }

        .carousel {
          width: 40%;
          padding-top: 46px;
          position: relative;
          height: 364px;

          .carousel-indicators {
            position: absolute;
            bottom: 0;
            left: 444px;
            margin: 0;
            padding: 0;
            border: none;
            width: 15px;

            * {
              border-radius: 50%;
            }

            .card-header {
              background-color: $mainBlackColor;
              width: 10px !important;
              height: 10px !important;
              padding: 0;
              margin: 0 0 10px 0;
              border: none;
            }

            .card-body {
              background-color: $mainBlackColor;
              width: 10px !important;
              height: 10px !important;
              padding: 0;
              margin: 0 0 10px 0;
              border: none;
            }

            .card-footer {
              background-color: $mainBlackColor;
              width: 10px !important;
              height: 10px !important;
              padding: 0;
              margin: 0;
              border: none;
            }
          }

          .carousel-inner {
            .carousel-item {
            }
          }
        }
      }
    }
  }

  .about-europrint {
    background-image: url("../svg/Group 33.svg");
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 193px;

    .img {
      .euro-print {
        position: absolute;
        right: 0;
        top: 30px;
      }

      .Vector {
        position: absolute;
        top: 250px;
        right: 120px;
      }
    }

    .container {
      .row {
        .col-lg-6 {
          .block {
            h4 {
              margin-bottom: 39px;
              font-family: Lato, sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 40px;
              line-height: 40px;
              color: $mainBlackColor;
            }

            p {
              margin-bottom: 8px;
              font-family: Lato, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 34px;
              color: $mainGreenColor;
            }

            .list-group {
              .list-group-item img {
                margin-right: 10px;
              }

              .list-group-item {
                border: none !important;
                padding: 0;
                font-family: Lato, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 40px;
                color: $mainGreenColor;
              }
            }
          }
        }
      }
    }
  }

  .why-us {
    background-image: url("../images/image 2.png");
    background-size: cover;
    width: 100%;
    margin-top: 142px;
    height: 100vh;

    .container {
      h1 {
        font-family: Lato, sans-serif;
        font-style: normal;
        font-size: 50px;
        line-height: 60px;
        color: #FFFFFF;
        padding-top: 52px;
        font-weight: normal;
        margin-bottom: 90px;
      }

      .row {
        display: flex;
        justify-content: space-around;
        margin-top: 60px;

        .card {
          margin: 0 15px;
          padding: 0;
          border-radius: 4px;
          border: none;
          width: 350px;
          height: 210px;

          * {
            padding: 0;
            border: none;
            background-color: transparent;
          }

          .card-header {
            .orange-block {
              width: 50px;
              height: 50px;
            }

            background-position: top;
            width: 100px;
            height: 100px;
            background: #F26522;
            border-radius: 20px 2px;
            transform: translateY(-30px) translateX(125px);
            padding: 25px 25px;
          }

          .card-body {
            h4 {
              font-family: Lato, sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 24px;
              color: $mainBlackColor;
              text-align: center;
              margin: 0;
              height: 100%;
              transform: translateY(-10px);
            }
          }

          .card-footer {
            p {
              font-family: Lato, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
            }
          }
        }
      }

      .scnd {
        .card {
          transform: translateX(190px);
          width: 350px;
        }
      }
    }
  }

  .our-services {
    position: relative;
    padding: 65px 0 133px;
    margin-top: 70px;
    background-image: url("../images/Rectangle 6.6.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto;

    .rectangle-2 {
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../images/Rectangle 6.7.png");
      background-position: bottom left;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: auto;
    }

    .container {
      h2 {
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: $mainBlackColor;
        margin-bottom: 47.5px;
      }

      .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .col-lg-3 {
          border-radius: 4px;

          .img {
            overflow: hidden;
            position: relative;
            margin-bottom: 30px;
            border-radius: 4px;

            img {
              border-radius: 4px;
            }

            .card-info {
              width: 255px;
              height: 255px;
              background-color: rgba(0, 0, 0, 0.7);
              position: absolute;
              bottom: 0;
              left: 0;
              color: white;
              box-sizing: border-box;
              opacity: 0;
              transition: 0.3s;
              border-radius: 4px;
              text-align: center;
              padding-top: 100px;

              &:hover {
                opacity: 1;
                border-radius: 4px;
              }

              h4 {

              }

              .btn {
                background: $mainOrangeColor;
                border-radius: 20px;
                border: none;
                padding: 8px 25px;
                color: white;
                font-family: Lato, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;

                &:hover {
                  background: $mainOrangeColor;
                  border-radius: 20px;
                  border: none;
                }
              }
            }

            &:hover img {
              transform: scale(1.2);
              z-index: 1;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }

  .portfolio {
    margin-top: 140px;

    .container-fluid {
      padding-right: 0;

      .row {
        .col-lg-4 {
          .portfolio-info {
            width: 104%;
            padding: 59px 46px 208px 0;
            transform: translateX(200px) translateY(10px);
            h1 {
              font-family: Lato, sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 50px;
              line-height: 60px;
              color: $mainBlackColor;
            }

            p {
              font-family: Lato, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 24px;
              line-height: 30px;
              color: $mainGreenColor;
            }
          }
        }

        .col-lg-5 {
          width: 847px !important;

          .portfolio-carousel {
            margin-left: -10%;
            z-index: -1;
            //width: 42%;
            border-radius: 0 250px 0 0;
            right: 0;
            width: 847px;
          }
        }
      }
    }

    //height: 628px;
    //position: relative;
    //.portfolio-carousel {
    //  //width: 42%;
    //  border-radius: 0 150px 0 0 ;
    //  display: inline-block;
    //  z-index: -1;
    //  position: absolute;
    //  top: 0;
    //}
    //.carousel {
    //  z-index: -1;
    //  .carousel-control-prev {
    //    z-index: 2;
    //  }
    //}
    //.container-fluid {
    //  padding-top: 131px;
    //  .portfolio-info {
    //    width: 58%;
    //    padding: 59px 46px 208px 0;
    //    h1 {
    //      font-family: Lato, sans-serif;
    //      font-style: normal;
    //      font-weight: bold;
    //      font-size: 50px;
    //      line-height: 60px;
    //      color: $mainBlackColor;
    //    }
    //    p {
    //      font-family: Lato, sans-serif;
    //      font-style: normal;
    //      font-weight: normal;
    //      font-size: 24px;
    //      line-height: 30px;
    //      color: $mainGreenColor;
    //    }
    //  }
    //}
  }

  .our-echivements-section {
    margin-top: 198px;

    .text {
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 60px;
      color: #131A22;
      display: flex;
      justify-content: center;
    }

    .info-section {
      background-image: url("../images/Rectangle 6.8.png");
      background-repeat: no-repeat;
      margin-top: 50px;

      .container {
        .col-lg-4 {
          padding-top: 93px;
          text-align: center;

          .count {
            font-family: Lato, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 60px;
            color: #131A22;
          }

          .count-title {
            font-family: Lato, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 60px;
            color: #131A22;
          }

          .col-text-info {
            margin: 7px auto 64px;
            width: 74% !important;
            font-family: Lato, sans-serif;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #37475A;
          }
        }
      }
    }
  }

  .our-clients-section {
    .container-fluid {
      padding: 0;

      .our-clients {
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: $mainBlackColor;
        text-align: center;
        margin: 177px 0 49px 0;

      }

      .slide {
        width: 100%;
        overflow: hidden;

        .animation-block {
          animation-name: clients-animation;
          animation-duration: 50s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: both;

          .d-flex {
            transform: translateX(-86px);

            .mrg {
              margin-right: 50px;
            }

            .block-1 {
              height: 470px;
              margin: 0 50px;

              .big-card {
                width: 200px;
                height: 200px;
                background: white;
                box-shadow: 0 20px 15px rgba(169, 163, 142, 0.15);
                border-radius: 4px;
                margin-bottom: 25%;
                box-sizing: border-box;
                background-size: cover;
                text-align: center;

                img {
                  width: 70%;
                  height: 70%;
                  background-size: cover;
                  transform: translateY(25%);
                }
              }
            }

            .block-2 {
              height: 470px;

              .small-card {
                width: 100px;
                height: 100px;
                background: white;
                box-shadow: 0 20px 40px rgba(169, 163, 142, 0.15);
                border-radius: 4px;
                margin-bottom: 75%;
                text-align: center;

                img {
                  width: 70%;
                  height: 70%;
                  background-size: cover;
                  transform: translateY(25%);
                }
              }
            }
          }
        }
      }
    }
  }

  .our-team {
    background-image: url("../svg/Rectangle 6.5.png");
    background-position: top left;
    background-repeat: no-repeat;
    margin-top: 143px;

    .our-group {
      margin: 0;
      padding-top: 157px;
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 46px;
      line-height: 55px;
      color: $mainBlackColor;
      text-align: center;
    }

    .container {
      background-color: white;

      .owl-carousel {
        background-color: white;

        .owl-nav {
          display: none;
        }

        .owl-dots {
          display: block;
        }

        .item {
          margin-bottom: 31px;
          width: 330px !important;

          .card {
            width: 330px;
            height: 256px;
            background-color: $mainBackColor;
            margin-top: 146px;

            .card-header {
              border: none;
              background-color: $mainBackColor;
              width: 150px;
              height: 110px;
              position: relative;

              .frst {
                position: absolute;
                top: -75px;
                left: 90px;
                z-index: 1;
              }

              .scnd {
                position: absolute;
                top: -65px;
                left: 100px;
                width: 130px;
                height: 130px;
                z-index: 2;
              }
            }

            .card-body {
              padding-top: 0;
              padding-bottom: 66px;

              h4 {
                font-family: Lato, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: $mainBlackColor;
              }

              p {
                font-family: Lato, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: $mainOrangeColor;
              }
            }
          }
        }

      }
    }
  }

  .map-section {
    background-image: url("../svg/bg-right.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 132px;

    .container-fluid {
      padding-left: 0;

      .row {
        .col-lg-9 {
          .map-block {
            transform: translateY(56px);

            iframe {
              border-radius: 0 214.5px 0 0;
            }
          }
        }
      }
    }
  }

  footer {
    background-color: $mainBlackColor;

    .container {
      .row {
        .col {
          margin-top: 74px;
          height: 477px;

          h5 {
            color: $mainBackColor;
            margin-bottom: 21px;
            font-family: Lato, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
          }

          .tel-svg {
            position: absolute;
            top: 54px;
            left: -8px;
          }

          .list-group {
            position: relative;
            margin-bottom: 50px;

            .list-group-item {
              font-family: Lato, sans-serif;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 17px;
              padding: 0;
              margin: 8px 0;
              border: none;
              background-color: transparent;
              text-decoration: none;
              color: $mainBackColor;
            }

            .tel {
              font-weight: 900;
              font-size: 35px;
              padding-bottom: 12px;
            }
          }

          .dropdown {
            font-family: Lato, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: $mainBackColor;
            opacity: 0.5;
            background-color: transparent;

            button {
              margin-top: 91px;
              border: 1px solid $mainBackColor;
              box-sizing: border-box;
              border-radius: 100px;
            }
          }

          .socials {
            margin-top: -10px;
            transform: translateX(-50px);

            * {
              margin-left: 8px;
              margin-right: 8px;
            }

            .telegram {
              background-image: url("../svg/002-telegram.svg");
              background-size: auto;
              background-repeat: no-repeat;
              background-position: center;
            }

            .instagram {
              background-image: url("../svg/003-instagram.svg");
              background-size: auto;
              background-repeat: no-repeat;
              background-position: center;
            }

            .facebook {
              background-image: url("../svg/001-facebook-logo.svg");
              background-size: auto;
              background-repeat: no-repeat;
              background-position: center;
            }

            .you-tube {
              background-image: url("../svg/004-youtube.svg");
              background-size: auto;
              background-repeat: no-repeat;
              background-position: center;
            }

          }


          .map {
            position: relative;
            font-family: Lato, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: $mainBackColor;

            .map-pin {
              position: absolute;
              top: 0;
              left: -20px;
            }
          }
        }
      }

      .footer {
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $mainBackColor;
        opacity: 0.5;
        margin: 30px 0;
      }
    }
  }

}

@keyframes clients-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}