body header {
  position: relative;
}
body header .img {
  background: #37475A;
  opacity: 0.1;
  border-radius: 0 0 0 300px;
  width: 541px;
  height: 455px;
  position: absolute;
  top: 0;
  right: 0;
}
body header .container {
  z-index: 1;
  opacity: 1 !important;
}
body header .container .navbar .navbar-collapse {
  margin-left: 132px;
}
body header .container .navbar .navbar-collapse .navbar-nav {
  float: right;
}
body header .container .navbar .navbar-collapse .navbar-nav .nav-item {
  margin: 0 25px;
  transition: 3s;
}
body header .container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #131A22;
  padding: 15px 0;
}
body header .container .navbar .navbar-collapse .navbar-nav .nav-item:hover {
  border-bottom: 1px solid #f26522;
}
body header .container .navbar .navbar-collapse .navbar-nav .active {
  border-bottom: 1px solid #f26522;
}
body header .container .navbar .navbar-collapse .navbar-nav .dropdown .nav-link {
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 4px 12px;
  margin-top: 11px;
}
body header .container .section-part {
  display: flex;
  justify-content: space-between;
}
body header .container .section-part .card {
  width: 60%;
  background-color: transparent;
  border: none;
  padding-top: 149px;
}
body header .container .section-part .card .info {
  background-color: transparent;
  border: none;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 43px;
  line-height: 53px;
  color: #131A22;
}
body header .container .section-part .card .info .buyurtma {
  font-weight: 900;
}
body header .container .section-part .card .card-body {
  background-color: transparent;
  border: none;
  padding-top: 16px;
}
body header .container .section-part .card .card-body button {
  background: #f26522;
  border-radius: 100px;
  border: none;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 11px 26px;
}
body header .container .section-part .card .card-footer {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-start;
}
body header .container .section-part .card .card-footer .card {
  position: relative;
  display: inline-block;
}
body header .container .section-part .card .card-footer .card .phone-svg {
  position: absolute;
}
body header .container .section-part .card .card-footer .card .card-header {
  background-color: transparent;
  border: none;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px !important;
  line-height: 16px;
  color: #131A22;
  padding-top: 0;
  padding-left: 28px;
}
body header .container .section-part .card .card-footer .card .card-body {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 31px;
  line-height: 16px;
  color: #131A22;
  padding-top: 0;
  padding-left: 28px;
}
body header .container .section-part .carousel {
  width: 40%;
  padding-top: 46px;
  position: relative;
  height: 364px;
}
body header .container .section-part .carousel .carousel-indicators {
  position: absolute;
  bottom: 0;
  left: 444px;
  margin: 0;
  padding: 0;
  border: none;
  width: 15px;
}
body header .container .section-part .carousel .carousel-indicators * {
  border-radius: 50%;
}
body header .container .section-part .carousel .carousel-indicators .card-header {
  background-color: #131A22;
  width: 10px !important;
  height: 10px !important;
  padding: 0;
  margin: 0 0 10px 0;
  border: none;
}
body header .container .section-part .carousel .carousel-indicators .card-body {
  background-color: #131A22;
  width: 10px !important;
  height: 10px !important;
  padding: 0;
  margin: 0 0 10px 0;
  border: none;
}
body header .container .section-part .carousel .carousel-indicators .card-footer {
  background-color: #131A22;
  width: 10px !important;
  height: 10px !important;
  padding: 0;
  margin: 0;
  border: none;
}
body .about-europrint {
  background-image: url("../svg/Group 33.svg");
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 193px;
}
body .about-europrint .img .euro-print {
  position: absolute;
  right: 0;
  top: 30px;
}
body .about-europrint .img .Vector {
  position: absolute;
  top: 250px;
  right: 120px;
}
body .about-europrint .container .row .col-lg-6 .block h4 {
  margin-bottom: 39px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #131A22;
}
body .about-europrint .container .row .col-lg-6 .block p {
  margin-bottom: 8px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  color: #37475A;
}
body .about-europrint .container .row .col-lg-6 .block .list-group .list-group-item img {
  margin-right: 10px;
}
body .about-europrint .container .row .col-lg-6 .block .list-group .list-group-item {
  border: none !important;
  padding: 0;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #37475A;
}
body .why-us {
  background-image: url("../images/image 2.png");
  background-size: cover;
  width: 100%;
  margin-top: 142px;
  height: 100vh;
}
body .why-us .container h1 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  padding-top: 52px;
  font-weight: normal;
  margin-bottom: 90px;
}
body .why-us .container .row {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
body .why-us .container .row .card {
  margin: 0 15px;
  padding: 0;
  border-radius: 4px;
  border: none;
  width: 350px;
  height: 210px;
}
body .why-us .container .row .card * {
  padding: 0;
  border: none;
  background-color: transparent;
}
body .why-us .container .row .card .card-header {
  background-position: top;
  width: 100px;
  height: 100px;
  background: #F26522;
  border-radius: 20px 2px;
  transform: translateY(-30px) translateX(125px);
  padding: 25px 25px;
}
body .why-us .container .row .card .card-header .orange-block {
  width: 50px;
  height: 50px;
}
body .why-us .container .row .card .card-body h4 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #131A22;
  text-align: center;
  margin: 0;
  height: 100%;
  transform: translateY(-10px);
}
body .why-us .container .row .card .card-footer p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
body .why-us .container .scnd .card {
  transform: translateX(190px);
  width: 350px;
}
body .our-services {
  position: relative;
  padding: 65px 0 133px;
  margin-top: 70px;
  background-image: url("../images/Rectangle 6.6.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
}
body .our-services .rectangle-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/Rectangle 6.7.png");
  background-position: bottom left;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: auto;
}
body .our-services .container h2 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #131A22;
  margin-bottom: 47.5px;
}
body .our-services .container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .our-services .container .row .col-lg-3 {
  border-radius: 4px;
}
body .our-services .container .row .col-lg-3 .img {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  border-radius: 4px;
}
body .our-services .container .row .col-lg-3 .img img {
  border-radius: 4px;
}
body .our-services .container .row .col-lg-3 .img .card-info {
  width: 255px;
  height: 255px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.3s;
  border-radius: 4px;
  text-align: center;
  padding-top: 100px;
}
body .our-services .container .row .col-lg-3 .img .card-info:hover {
  opacity: 1;
  border-radius: 4px;
}
body .our-services .container .row .col-lg-3 .img .card-info .btn {
  background: #f26522;
  border-radius: 20px;
  border: none;
  padding: 8px 25px;
  color: white;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
body .our-services .container .row .col-lg-3 .img .card-info .btn:hover {
  background: #f26522;
  border-radius: 20px;
  border: none;
}
body .our-services .container .row .col-lg-3 .img:hover img {
  transform: scale(1.2);
  z-index: 1;
  transition: 0.5s;
}
body .portfolio {
  margin-top: 140px;
}
body .portfolio .container-fluid {
  padding-right: 0;
}
body .portfolio .container-fluid .row .col-lg-4 .portfolio-info {
  width: 104%;
  padding: 59px 46px 208px 0;
  transform: translateX(200px) translateY(10px);
}
body .portfolio .container-fluid .row .col-lg-4 .portfolio-info h1 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #131A22;
}
body .portfolio .container-fluid .row .col-lg-4 .portfolio-info p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #37475A;
}
body .portfolio .container-fluid .row .col-lg-5 {
  width: 847px !important;
}
body .portfolio .container-fluid .row .col-lg-5 .portfolio-carousel {
  margin-left: -10%;
  z-index: -1;
  border-radius: 0 250px 0 0;
  right: 0;
  width: 847px;
}
body .our-echivements-section {
  margin-top: 198px;
}
body .our-echivements-section .text {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #131A22;
  display: flex;
  justify-content: center;
}
body .our-echivements-section .info-section {
  background-image: url("../images/Rectangle 6.8.png");
  background-repeat: no-repeat;
  margin-top: 50px;
}
body .our-echivements-section .info-section .container .col-lg-4 {
  padding-top: 93px;
  text-align: center;
}
body .our-echivements-section .info-section .container .col-lg-4 .count {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #131A22;
}
body .our-echivements-section .info-section .container .col-lg-4 .count-title {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #131A22;
}
body .our-echivements-section .info-section .container .col-lg-4 .col-text-info {
  margin: 7px auto 64px;
  width: 74% !important;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #37475A;
}
body .our-clients-section .container-fluid {
  padding: 0;
}
body .our-clients-section .container-fluid .our-clients {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #131A22;
  text-align: center;
  margin: 177px 0 49px 0;
}
body .our-clients-section .container-fluid .slide {
  width: 100%;
  overflow: hidden;
}
body .our-clients-section .container-fluid .slide .animation-block {
  animation-name: clients-animation;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
body .our-clients-section .container-fluid .slide .animation-block .d-flex {
  transform: translateX(-86px);
}
body .our-clients-section .container-fluid .slide .animation-block .d-flex .mrg {
  margin-right: 50px;
}
body .our-clients-section .container-fluid .slide .animation-block .d-flex .block-1 {
  height: 470px;
  margin: 0 50px;
}
body .our-clients-section .container-fluid .slide .animation-block .d-flex .block-1 .big-card {
  width: 200px;
  height: 200px;
  background: white;
  box-shadow: 0 20px 15px rgba(169, 163, 142, 0.15);
  border-radius: 4px;
  margin-bottom: 25%;
  box-sizing: border-box;
  background-size: cover;
  text-align: center;
}
body .our-clients-section .container-fluid .slide .animation-block .d-flex .block-1 .big-card img {
  width: 70%;
  height: 70%;
  background-size: cover;
  transform: translateY(25%);
}
body .our-clients-section .container-fluid .slide .animation-block .d-flex .block-2 {
  height: 470px;
}
body .our-clients-section .container-fluid .slide .animation-block .d-flex .block-2 .small-card {
  width: 100px;
  height: 100px;
  background: white;
  box-shadow: 0 20px 40px rgba(169, 163, 142, 0.15);
  border-radius: 4px;
  margin-bottom: 75%;
  text-align: center;
}
body .our-clients-section .container-fluid .slide .animation-block .d-flex .block-2 .small-card img {
  width: 70%;
  height: 70%;
  background-size: cover;
  transform: translateY(25%);
}
body .our-team {
  background-image: url("../svg/Rectangle 6.5.png");
  background-position: top left;
  background-repeat: no-repeat;
  margin-top: 143px;
}
body .our-team .our-group {
  margin: 0;
  padding-top: 157px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 55px;
  color: #131A22;
  text-align: center;
}
body .our-team .container {
  background-color: white;
}
body .our-team .container .owl-carousel {
  background-color: white;
}
body .our-team .container .owl-carousel .owl-nav {
  display: none;
}
body .our-team .container .owl-carousel .owl-dots {
  display: block;
}
body .our-team .container .owl-carousel .item {
  margin-bottom: 31px;
  width: 330px !important;
}
body .our-team .container .owl-carousel .item .card {
  width: 330px;
  height: 256px;
  background-color: #FFFDF7;
  margin-top: 146px;
}
body .our-team .container .owl-carousel .item .card .card-header {
  border: none;
  background-color: #FFFDF7;
  width: 150px;
  height: 110px;
  position: relative;
}
body .our-team .container .owl-carousel .item .card .card-header .frst {
  position: absolute;
  top: -75px;
  left: 90px;
  z-index: 1;
}
body .our-team .container .owl-carousel .item .card .card-header .scnd {
  position: absolute;
  top: -65px;
  left: 100px;
  width: 130px;
  height: 130px;
  z-index: 2;
}
body .our-team .container .owl-carousel .item .card .card-body {
  padding-top: 0;
  padding-bottom: 66px;
}
body .our-team .container .owl-carousel .item .card .card-body h4 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #131A22;
}
body .our-team .container .owl-carousel .item .card .card-body p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #f26522;
}
body .map-section {
  background-image: url("../svg/bg-right.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 132px;
}
body .map-section .container-fluid {
  padding-left: 0;
}
body .map-section .container-fluid .row .col-lg-9 .map-block {
  transform: translateY(56px);
}
body .map-section .container-fluid .row .col-lg-9 .map-block iframe {
  border-radius: 0 214.5px 0 0;
}
body footer {
  background-color: #131A22;
}
body footer .container .row .col {
  margin-top: 74px;
  height: 477px;
}
body footer .container .row .col h5 {
  color: #FFFDF7;
  margin-bottom: 21px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
body footer .container .row .col .tel-svg {
  position: absolute;
  top: 54px;
  left: -8px;
}
body footer .container .row .col .list-group {
  position: relative;
  margin-bottom: 50px;
}
body footer .container .row .col .list-group .list-group-item {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin: 8px 0;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: #FFFDF7;
}
body footer .container .row .col .list-group .tel {
  font-weight: 900;
  font-size: 35px;
  padding-bottom: 12px;
}
body footer .container .row .col .dropdown {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFDF7;
  opacity: 0.5;
  background-color: transparent;
}
body footer .container .row .col .dropdown button {
  margin-top: 91px;
  border: 1px solid #FFFDF7;
  box-sizing: border-box;
  border-radius: 100px;
}
body footer .container .row .col .socials {
  margin-top: -10px;
  transform: translateX(-50px);
}
body footer .container .row .col .socials * {
  margin-left: 8px;
  margin-right: 8px;
}
body footer .container .row .col .socials .telegram {
  background-image: url("../svg/002-telegram.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
body footer .container .row .col .socials .instagram {
  background-image: url("../svg/003-instagram.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
body footer .container .row .col .socials .facebook {
  background-image: url("../svg/001-facebook-logo.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
body footer .container .row .col .socials .you-tube {
  background-image: url("../svg/004-youtube.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
body footer .container .row .col .map {
  position: relative;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFDF7;
}
body footer .container .row .col .map .map-pin {
  position: absolute;
  top: 0;
  left: -20px;
}
body footer .container .footer {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFDF7;
  opacity: 0.5;
  margin: 30px 0;
}

@keyframes clients-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}

/*# sourceMappingURL=index.scss.map */
